.eggs
.mypy_cache
.pytest_cache
.tox
build
reports
/buildClient
/cmake-build-*
node_modules
coverage
venv
__pycache__/
CI/build_VS2019/Dockerfile
.github
.scannerwork
build_client
tyko.dist-info
tyko.egg-info
