{%- macro form_header(title) -%}
<h1 class="mt-5">{{ title }}</h1>
{%- endmacro -%}

{% macro form_row()  %}
    <div class="form-group row">
    {{ caller() }}
    </div>
{% endmacro %}

{% macro form_text_field(input_id, display_text, api_data_name, placeholder_text=None, type="text", required=False) -%}
    {% call form_row() %}
    <label for="{{input_id}}" class="col-sm-2 col-form-label">{{display_text}}</label>
    <div class="col-sm-10">
        <input type="{{type}}" class="form-control" id="nameInput" name="{{ api_data_name }}" placeholder="{{placeholder_text or ''}}" {% if required %}required{% endif %}>
    </div>

    {% endcall %}
{%- endmacro %}

{% macro form_select_field(input_id, display_text, api_data_name, options=[], required=False) -%}
    {% call form_row() %}
        <label for="{{input_id}}" class="col-sm-2 col-form-label"> {{display_text}}</label>
        <div class="col-sm-10">
                <select id="inputProjectStatus" name="{{ api_data_name }}" class="form-control" {% if required %}required{% endif %}>
                {% for option in options %}
                    {{option}}
                <option value="{{ option.value }}">{{option.text}}</option>
                {% endfor %}
                </select>
        </div>
    {% endcall %}
{% endmacro %}