{% from "_details_macros.html" import new_modal %}

{% macro new_item_form(formats) %}
    <div class="form-group row">
        <label for="itemNameInput" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" id="itemNameInput" class="form-control" name="name" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="itemFormatSelection" class="col-sm-2 col-form-label">Format</label>
        <div class="col-sm-10">
            <select class="custom-select" class="form-control" name="format_id" id="itemFormatSelection" required>
                <option value="" disabled selected>Select a Format</option>
                {%- for format in formats%}
                    <option value="{{format.format_types_id}}">{{ format.name }}</option>
                {%- endfor %}
            </select>
            <script type="module">
                const FORMATS = {
                {%- for format in formats%}
                  "{{ format.name }}": {
                    "format_id": "{{ format.format_types_id }}"
                  },
                {%- endfor %}
                };

                $('#itemFormatSelection').on('change', function() {
                    $('.format-row').each(function() {
                      $(this).attr("hidden", "");
                    });
                    switch (this.value) {
                        {#FIXME Typo casette #}
                        case FORMATS["casette tape"]['format_id']:
                            $('.cassette-row').each(function() {
                              $(this).removeAttr("hidden");
                            });
                            break;
                        default:
                          console.log("Dont't know this one")
                          break
                    }

                })
            </script>
        </div>
    </div>
    <div class="form-group row cassette-row format-row" hidden>
        <label for="cassetteDateRecordedInput" class="col-sm-2 col-form-label">Date recorded</label>
        <div class="col-sm-10">
            <input type="text" id="cassetteDateRecordedInput" class="form-control" name="format_details.DateRecorded">
        </div>
    </div>
    <div class="form-group row cassette-row format-row" hidden>
        <label for="cassetteAudioTypeInput" class="col-sm-2 col-form-label">Audio type</label>
        <div class="col-sm-10">
            <select class="form-control tyko-input-enum-api-options" id="cassetteAudioTypeInput" data-enumapi="{{ url_for('cassette_tape_format_types') }}" name="format_details.format_type_id"></select>
        </div>
    </div>
    <div class="form-group row cassette-row format-row" hidden>
        <label for="cassetteTapeTypeInput" class="col-sm-2 col-form-label">Tape Type</label>
        <div class="col-sm-10">
            <select id="cassetteTapeTypeInput" class="form-control tyko-input-enum-api-options" data-enumapi="{{ url_for('cassette_tape_tape_types') }}" name="format_details.Tape Type"></select>
        </div>
    </div>
    <div class="form-group row cassette-row format-row" hidden>
        <label for="cassetteTapeThicknessInput" class="col-sm-2 col-form-label">Tape Thickness</label>
        <div class="col-sm-10">
            <select id="cassetteTapeThicknessInput"
                    class="form-control"
                    data-enumAPI="{{ url_for('cassette_tape_tape_thickness') }}"
                    name="format_details.Tape Thickness">
            </select>
        </div>
    </div>
    <div class="form-group row cassette-row format-row" hidden>
        <label for="cassetteDateInspectedInput" class="col-sm-2 col-form-label">Date Inspected</label>
        <div class="col-sm-10">
            <input id="cassetteDateInspectedInput" class="form-control tyko-input-fulldate" name="format_details.DateInspected">
    {#        TODO: Set this to a date picker#}
        </div>
    </div>
    <script type="application/javascript">
        const CASSETTE_TAPE_THICKNESS_URL = "{{ url_for('cassette_tape_tape_thickness') }}";
        const object_api_route = "{{ api_route }}";
    </script>
    <script type="module" src="{{ url_for('static', filename='js/load_format_options.mjs')}}"></script>
{% endmacro %}

{% macro new_item_modal(modal_id, formats, api_route) %}

{{new_modal(modal_id, "New Item", api_route, new_item_form(formats)) }}
{% endmacro %}

{% macro item_new_button_row(api_for_new, modal_id) %}
<tr>
    <td></td>
    <td>
        <div class="btn-group float-right" role="group">
            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#{{modal_id}}">Add</button>
        </div>
    </td>
</tr>
{% endmacro %}

{% macro item_file_row(file, file_page_url) %}
    <tr>
        <td>
            <a href="{{ file_page_url }}">{{ file.name }}</a>
        </td>
        <td>
            {{ file.generation }}
        </td>
        <td>
{#            dsdsd#}
            <button
                class="btn btn-secondary btn-danger btn-sm"
{#                data-toggle="modal"#}
{#                data-target="#fileRemoveConfirm"#}
{#                data-title="Remove File"#}
{#                onclick="alert('This doesnt do anything yet')"#}
{#                data-text="{{ note['text'] }}"#}
{#                data-apiroute="{{ note_api_route }}">#}
                >Remove
            </button>
{#        </td>#}
    </tr>
{% endmacro %}

