{% from "_details_macros.html" import new_modal %}

{% macro new_item_form(formats) %}
    <div class="form-group row">
        <label for="itemNameInput" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" id="itemNameInput" class="form-control" name="name" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="itemFormatSelection" class="col-sm-2 col-form-label">Format</label>
        <div class="col-sm-10">
            <select class="custom-select" class="form-control" name="format_id" id="itemFormatSelection" required>
                <option value="" disabled selected>Select a Format</option>
                {%- for format in formats%}
                    <option value="{{format.format_types_id}}">{{ format.name }}</option>
                {%- endfor %}
            </select>
            <script type="module">
                const FORMATS = {
                {%- for format in formats%}
                  "{{ format.name }}": {
                    "format_id": "{{ format.format_types_id }}"
                  },
                {%- endfor %}
                };

                $('#itemFormatSelection').on('change', function() {

                    $('.format-row').each(function() {
                      $(this).attr("hidden", "");
                    });
                    switch (this.value) {
                        case FORMATS["cassette tape"]['format_id']:
                          $("#cassetteAudioTypeInput").attr("required", "");
                            $('.cassette-row').each(function() {
                              $(this).removeAttr("hidden");
                            });
                            break;
                        default:
                          $("#cassetteAudioTypeInput").removeAttr("required");
                          console.log("Dont't know this one")
                          break
                    }
                })
            </script>
        </div>
    </div>
    {% include 'forms/new_audio_cassette.html' %}
    <script type="module" src="{{ url_for('static', filename='js/load_format_options.mjs')}}"></script>
{% endmacro %}

{% macro new_item_modal(modal_id, formats, api_route) %}

{{new_modal(modal_id, "New Item", api_route, new_item_form(formats), formId="newItemForm") }}
<script type="module">
        $(".modal").on('hidden.bs.modal', function() {
          document.getElementById('newItemForm').reset();
          $('.format-row').each(function() {
            $(this).attr("hidden", "");
          });
        })
    </script>
{% endmacro %}

{% macro item_new_button_row(api_for_new, modal_id) %}
<tr>
    <td></td>
    <td>
        <div class="btn-group float-right" role="group">
            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#{{modal_id}}">Add</button>
        </div>
    </td>
</tr>
{% endmacro %}

{% macro item_file_row(file, file_page_url) %}
    <tr>
        <td>
            <a href="{{ file_page_url }}">{{ file.name }}</a>
        </td>
        <td>
            {{ file.generation }}
        </td>
        <td>
{#            dsdsd#}
            <button
                class="btn btn-secondary btn-danger btn-sm"
{#                data-toggle="modal"#}
{#                data-target="#fileRemoveConfirm"#}
{#                data-title="Remove File"#}
{#                onclick="alert('This doesnt do anything yet')"#}
{#                data-text="{{ note['text'] }}"#}
{#                data-apiroute="{{ note_api_route }}">#}
                >Remove
            </button>
{#        </td>#}
    </tr>
{% endmacro %}

