{% macro notes_table(notes, api_route, notetype) %}
<table class="table">
    <caption>Notes</caption>
    {% if notes|length > 0 %}
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th class="col-sm-3" id="noteMessageColumnHeader">Message</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
    {% endif %}
    <tbody>
        {%- for note in notes -%}
            <tr>
                <td >{{ note['note_type'] }}</td>
                <td>{{ note['text'] }}</td>
                <td>
                    <button
                        class="btn btn-secondary btn-sm"
                        data-toggle="modal"
                        data-target="#noteEditor"
                        data-title="Edit Note"
                        data-dialogtype="edit"
                        data-text="{{ note['text'] }}"
                        data-notetype="{{ note['note_type_id'] }}"
                        data-apiroute="{{ api_route }}">
                        Edit
                    </button>
                </td>
                <td>
                    <button
                        class="btn btn-secondary btn-danger btn-sm"
                        data-toggle="modal"
                        data-target="#noteRemoveConfirm"
                        data-title="Remove Note"
                        data-text="{{ note['text'] }}"
                        data-apiroute="{{ api_route }}">
                        Remove
                    </button>
                </td>
            </tr>~
        {%- endfor -%}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="btn-group float-right" role="group">
                    <button
                        class="btn btn-primary btn-sm"
                        data-toggle="modal"
                        data-target="#noteEditor"
                        data-title="Create New Note"
                        data-dialogtype="new"
                        data-source="{{ api_path }}"
                        data-notetype="{{ notetype }}">Add</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endmacro %}


{% macro notes_table_head(notes) %}
{% if notes|length > 0 %}
    <thead>
        <tr>
            <th scope="col">Type</th>
            <th class="col-sm-3" id="noteMessageColumnHeader">Message</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
{% endif %}
{% endmacro %}

{% macro notes_table_row(note, note_api_route) %}
<tr>
    <td >{{ note['note_type'] }}</td>
    <td>{{ note['text'] }}</td>
    <td>
        <button
            class="btn btn-secondary btn-sm"
            data-toggle="modal"
            data-target="#noteEditor"
            data-title="Edit Note"
            data-dialogtype="edit"
            data-text="{{ note['text'] }}"
            data-notetype="{{ note['note_type_id'] }}"
            data-apiroute="{{ note_api_route }}"
        >Edit</button>
    </td>
    <td>
        <button
            class="btn btn-secondary btn-danger btn-sm"
            data-toggle="modal"
            data-target="#noteRemoveConfirm"
            data-title="Remove Note"
            data-text="{{ note['text'] }}"
            data-apiroute="{{ note_api_route }}">
            Remove
        </button>
    </td>
</tr>
{% endmacro %}

{% macro notes_new_button_row(note_api_route) %}
<tr>
    <td></td>
    <td></td>
    <td></td>
    <td>
        <div class="btn-group float-right" role="group">
            <button
                class="btn btn-primary btn-sm"
                data-toggle="modal"
                data-target="#noteEditor"
                data-title="Create New Note"
                data-dialogtype="new"
                data-source="{{ note_api_route }}">
                Add
            </button>
        </div>
    </td>
</tr>
{% endmacro %}

{% macro note_editor_events(apiPath, valid_note_types) %}
<script type="module">
 import {notes} from "{{url_for('static', filename="js/api.js")}}"
 $(document).ready(function () {
     {%- for note_name, note_id in valid_note_types %}
         $("#noteTypeSelect").append(new Option("{{ note_name }}", "{{note_id}}"));
     {%- endfor %}

     $('#noteRemoveConfirm').on('show.bs.modal', function (event) {
         setup_confirm_note_removal_modal(
                $(event.relatedTarget),
                $(this),
                $(event.relatedTarget).data("apiroute"),
                notes.removeNote
            );
        });

        $('#noteEditor').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            const modal = $(this);
            setup_modal_window(modal, button);
            switch (button.data('dialogtype')) {
                case "edit":
                    setup_edit(button, modal, notes.editNote);
                    break;
                case "new":
                    setup_new_note(button, modal, "{{ apiPath }}", notes.addNote);
                    break;
            }
        });
    })
</script>
{% endmacro %}