{% extends "layout.html" %}

{% block content %}
<h1 class="mt-5">Collections</h1>
<div class="row onePadding">
    <div class="col-md-12 col-sm-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Department</th>
                </tr>
                {% for collection in collections %}
                    <tr>
                        <td><a href="{{url_for('page_collections')}}/{{ collection['collection_id'] }}"> {{collection['collection_name']}}</a></td>
                        <td>{{collection['department']}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}