{% extends "dynamiclist.html" %}
{% block entityTitle %}
    Collections
{% endblock %}
{% block tableDetails %}
    <thead class="thead-light">
        <tr>
            <th scope="col"
                data-field="collection_name"
                data-formatter="collectionFormatter"
                data-sortable="true">Name</th>
            <th scope="col"
                data-field="department"
                data-sortable="true">Department</th>
        </tr>
    </thead>
    <script>
        function collectionFormatter(value, row) {
            return '<a href="{{ url_for("page_collections") }}/'+row.collection_id +'">' + value + "</a>";
        }
    </script>
{% endblock %}

{% block dataParsing %}
    var data = JSON.parse(this.responseText)[0].collections;
{% endblock %}
