{% extends "details_table.html" %}
{% from "_macros.html" import  metadata_table%}
{% from "_details_macros.html" import metadata_text_edit_widget%}
{%- block detail_table %}
    <div class="card my-1">
        <div class="card-body">
            {% call metadata_table() %}
                <tr>{{metadata_text_edit_widget("Name", collection['collection_name'], 'collection_name', api_path)}}</tr>
                <tr>{{metadata_text_edit_widget("Department", collection['department'], 'department', api_path)}}</tr>
                <tr>
                    {{metadata_text_edit_widget("Contact", '<a href="mailto:{}"> {} {}</a>'.format(collection['contact']['email_address'], collection['contact']['first_name'], collection['contact']['last_name'])|safe if collection.contact)}}
                </tr>
                <tr>{{metadata_text_edit_widget("Record Series", collection['record_series'])}}</tr>
            {% endcall %}
        </div>
    </div>
{% endblock %}