{% extends "layout.html" %}
{% from "_macros.html" import list_header, list_table, list_table_toolbar%}
{% block content %}
    {{ list_header("Collections") }}
    {{
        list_table(
            url_for("collection"),
            "collections",
            table_columns=[
                    {
                        "field": "collection_name",
                        "display_text": "Name",
                        "formatter": "collectionFormatter",
                        "sortable":"true"
                    },
                    {
                        "field": "department",
                        "display_text": "Department",
                        "sortable":"true"

                    },

                ]
            )
    }}
<script>
    function collectionFormatter(value, row) {
        return '<a href="{{ url_for("page_collections") }}/'+row.collection_id +'">' + value + "</a>";
    }
</script>
{% endblock %}
