{% extends "layout.html" %}
{% from "_macros.html" import note_editor_events %}
{% from "_details_macros.html" import breadcrumbs_widget %}
{%- block content -%}
    <div class="container-fluid">
        {% if show_bread_crumb %}
            {{breadcrumbs_widget(breadcrumbs)}}
        {% endif %}
        {%- block table_title %}
            <div class="container-fluid">
                <h2 class="mt-1"> {{- itemType }} Details</h2>
            </div>
        {% endblock -%}
        <div class="row onePadding">
            <div class="col-md-12 col-sm-12">
                <div class="container">
                    <div class="table-responsive">
                        {% block detail_table %}

                        {% endblock %}

                        {%- if edit == True -%}
                            <div id="success"
                                 class="modal fade bd-example-modal-sm"
                                 tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="mySmallModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 id="status_report_title">Success</h1>
                                        </div>
                                        <div class="modal-body">
                                            <p id="changelog">Record Updated</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                    class="btn btn-primary"
                                                    data-dismiss="modal"
                                                    onclick="location.href='{{ view_details_path }}'"
                                            >Okay</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                            <button class="btn btn-secondary" type="button" onclick="location.href='{{ view_details_path }}'">Cancel</button>
                        {%- endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function confirmUpdate(api_path, key) {
            const inputElement = key + "Input";
            editDataValue(
                api_path,
                key,
                document.getElementById(inputElement).value,
                function () {
                    location.reload()
                },
                function () {
                    alert("Failed to update " + key);

                }
            );
        }
        let isEdit = {};

        function cancelEdit(editId, original_text, editButtonId) {
            document.getElementById(editId).value = original_text;
            document.getElementById(editButtonId).innerText= "Edit"
        }
        function setEditModeOn(displayId, editId) {
            document.getElementById(displayId).hidden = true;
            document.getElementById(editId).hidden = false;


        }
        function setEditModeOff(displayId, editId) {
            document.getElementById(displayId).hidden = false;
            document.getElementById(editId).hidden = true;


        }
        function flipMode(displayItemId, editItemAreaId, editItemId, originalData, editButtonId){
            if(isEdit[editItemId] === true){
                setEditModeOff(displayItemId, editItemAreaId);
                cancelEdit(editItemId, originalData, editButtonId);
                document.getElementById(editButtonId).innerText= "Edit";
                isEdit[editItemId] = false;

            } else {
                setEditModeOn(displayItemId, editItemAreaId);
                document.getElementById(editButtonId).innerText= "Cancel";
                isEdit[editItemId] = true;
            }
        }

    </script>
    <script src="{{ url_for('static', filename='js/editData.js') }}"></script>
    {% include "edit_note.html" %}

{% endblock %}


{%- block scripts %}
    {{ super() }}
    <script>
    function setup_edit(button, modal, promise){
            const noteId = button.data('notetype');
            modal.find('#noteTypeSelect').val(noteId);
            modal.find('#saveNoteButton').unbind('click').bind('click',
            function () {
                const noteApiRoute = button.data('apiroute');
                const noteTypeId = modal.find('#noteTypeSelect').val();
                const noteText = modal.find('#message-text').val();
                promise(noteApiRoute, noteTypeId, noteText)
                    .then(function (data) {
                        console.log("success");
                        location.reload();
                    }).catch(function (data) {
                        alert("Failed: " + data.responseText);
                        console.log("Failed");
                    });
            });
        }

    function setup_new_note(button, modal, apiPath, promise) {
        modal.find('#saveNoteButton').unbind('click').bind('click',
        function (){
            const noteTypeId = modal.find('#noteTypeSelect').val();
            const noteText = modal.find('#message-text').val();
            promise(apiPath, noteTypeId, noteText)
                .then(function () {
                    console.log("success");
                    location.reload();
                }).catch(function (data) {
                    alert("Failed: " + data.responseText);
                    console.log("Failed")
                })
        });
    }
    function setup_modal_window(modal, button){
        modal.find('.modal-title').text(button.data("title"));
        modal.find('#message-text').val(button.data('text'));
    }
    function setup_confirm_note_removal_modal(button, modal, apiroute, promise){
        modal.find('#confirmRemoveNoteButton').unbind('click').bind('click',
            function () {
                promise(apiroute)
                    .then(function () {
                        console.log("success");
                        location.reload();
                    }).catch(function (data) {
                        alert("Failed: " + data.responseText);
                        console.log("Failed");
                    });

            });
    }

    </script>
{% endblock %}