{% extends "layout.html" %}
{% from "_macros.html" import note_editor %}
{% from "_details_macros.html" import breadcrumbs_widget %}
{%- block content -%}
    <div class="container-fluid">
        {% if show_bread_crumb %}
            {{breadcrumbs_widget(breadcrumbs)}}
        {% endif %}
        {%- block table_title %}
            <div class="container-fluid">
                <h2 class="mt-1"> {{- itemType }} Details</h2>
            </div>
        {% endblock -%}
        <div class="row onePadding">
            <div class="col-md-12 col-sm-12">
                <div class="container">
                    <div class="table table-sm">
                        {% block detail_table %}

                        {% endblock %}

                        {%- if edit == True -%}
                            <div id="success"
                                 class="modal fade bd-example-modal-sm"
                                 tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="mySmallModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 id="status_report_title">Success</h1>
                                        </div>
                                        <div class="modal-body">
                                            <p id="changelog">Record Updated</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                    class="btn btn-primary"
                                                    data-dismiss="modal"
                                                    onclick="location.href='{{ view_details_path }}'"
                                            >Okay</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                            <button class="btn btn-secondary" type="button" onclick="location.href='{{ view_details_path }}'">Cancel</button>
                        {%- endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
