{% extends "layout.html" %}

{% block content %}
    <h1 class="mt-5">Formats</h1>
    <div class="row onePadding">
        <div class="col-md-12 col-sm-12">
            <div class="table-responsive">
                <table class="table-striped"
                       data-toggle="table"
                       data-card-view="true"
                       data-url="{{ url_for('formats') }}">
                    <caption>Formats</caption>
                    <thead>
                        <tr>
                            <th scope="col" data-field="name">Format Name</th>
                            <th scope="col" data-field="format_types_id">Format Id</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}