{% extends "layout.html" %}

{% block content %}
<h1 class="mt-5">Items</h1>
<div class="row onePadding">
    <div class="col-md-12 col-sm-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Format Type</th>
                </tr>
                {% for item in items %}
                    <tr>
                        <td><a href="{{ url_for('page_item')}}/{{ item['item_id'] }}">{{item['name']}}</a></td>
                        <td>{{item['format_type'] or ""}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}