{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Items</h1>
    <table id="table"
        data-toggle="table"
        data-search="true"
        data-show-columns="true"
        class="table-striped">
        <thead class="thead-light">
            <th data-sortable="true">Name</th>
            <th data-sortable="true">Format Type</th>
            <th>Details</th>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{item['name']}}</td>
                    <td>{{item['format_type'] or ""}}</td>
                    <td><a href="{{url_for('page_item')}}/{{ item['item_id'] }}">Details</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}