{% extends "layout.html" %}
{% from "_macros.html" import list_header, list_table, list_table_toolbar%}
{% block content %}
    {{ list_header("Items") }}
    {{
        list_table(
            api_path,
            "items",
            table_columns=[
                    {
                        "field": "name",
                        "display_text": "Name",
                        "formatter": "itemFormatter",
                        "sortable":"true"
                    },
                    {
                        "field": "format.name",
                        "display_text": "Format",
                        "formatter": "formatTitleCase",
                        "sortable":"true"

                    },

                ]
            )
    }}
    <script>
        function formatTitleCase(data) {
            if(data == null){
                return null
            }
            const x = data.split(" ").map(function (word) {
                return word.replace(word[0], word[0].toUpperCase());
            });

            return x.join(" ");
        }
        function itemFormatter(value, row) {
            return '<a href="{{ url_for("page_item") }}/'+row.item_id +'">' + value + "</a>";
        }
    </script>
{% endblock %}