<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{'active' if selected_menu_item == "Home"}}">
                <a class="nav-link" href="{{url_for('page_index')}}">Home</a>
            </li>
            <li class="nav-item {{ 'active' if selected_menu_item == "About" }}">
                <a class="nav-link" href="{{url_for('page_about')}}">About</a>
            </li>
            <li class="nav-item {{ 'active' if selected_menu_item == "Projects" }}">
                <a class="nav-link" href="{{url_for('page_projects')}}">Projects</a>
            </li>
            <li class="nav-item {{ 'active' if selected_menu_item == "More" }}">
                <a class="nav-link" href="{{url_for('page_more')}}">More</a>
            </li>
        </ul>
    </div>
</nav>