{% extends "create_entity.html" %}
{% import "_form_macros.html" as form_macros %}

{% block form %}
    <form id="new-project-form" onsubmit="return submitNew('{{ api_path }}')">
    {{ form_macros.form_text_field("titleInput", "Title", "title", required=True) }}
    {{ form_macros.form_text_field("projectCodeInput", "Project Code", "project_code") }}
    {{ form_macros.form_select_field("projectStatusInput",
                                     "Project Status",
                                     "status",
                                     options=project_status_options,
                                     required=True ) }}

    {{ form_macros.form_text_field("currentLocationInput", "Current Location", "current_location") }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
{% block submitScript %}
    <script>
        function submitNew(api_path) {
            const formData = new FormData(document.forms["new-project-form"]);
            const formJson = JSON.stringify(Object.fromEntries(formData));
            let xhr = new XMLHttpRequest();
            xhr.withCredentials = true;
            xhr.open("POST", api_path);
            xhr.onload = function() {
                if (this.readyState === XMLHttpRequest.DONE) {
                    if (this.status === 200) {
                        report_success(this);
                    } else {
                        report_failed(this);

                    }
                }
                };
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(formJson);
            return false;
        }
        {% block submitSuccess %}
        function report_success(response) {
            $('#response_modal').modal('show');
            document.getElementById("status_report_title").innerText = "Success";
            const data = JSON.parse(response.responseText);
            document.getElementById("okay_button").onclick = function () {
                location.href="{{on_success_redirect_base}}" + data.id;
            };
        }
        {% endblock %}
        {% block submitFailed %}
        function report_failed(response) {
            $('#response_modal').modal('show');
            document.getElementById("status_report_title").innerText = "Failed";
            document.getElementById("more_info").innerText = response.statusText;
            console.error(response.responseText);
            return true;
        }
        {% endblock %}
    </script>
{% endblock-%}
