{% extends "layout.html" %}
{% from "_macros.html" import list_header, list_table, list_table_toolbar%}
{% block content %}
    {{ list_header("Objects") }}
    {{
        list_table(
            api_path,
            "objects",
            table_columns=[
                    {
                        "field": "name",
                        "display_text": "Name",
                        "formatter": "objectFormatter",
                        "sortable":"true"
                    },
                ]
        )
    }}
    <script>
        function objectFormatter(value, row) {
            return '<a href="{{ url_for("page_object") }}/'+row.object_id +'">' + value + "</a>";
        }
    </script>
{% endblock %}
