{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <h1 class="bd-title mt-5">Object Details</h1>
    <div class="row onePadding">
        <div class="container">
            <button class="btn btn-outline-primary"
                        type="button"
                        onclick="location.href='{{ url_for('.page_index')}}api/object/{{object['object_id']}}-pbcore.xml'">PBCore Record</button>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-light"/>
                    <tr>
                        <th style="width: 16.66%">Name</th>
                        <td>{{object['name']}}</td>
                    </tr>
                    <tr>
                        <th>Collection</th>
                        <td><a href="{{url_for('page_collections')}}/{{ object['collection']['collection_id']}}">{{object['collection']['collection_name']}}</a></td>
                    </tr>
                    <tr>
                        <th>Project</th>
                        <td>{{object['project']["title"]}}</td>
                    </tr>
                    <tr>
                        <th>Barcode</th>
                        <td>{{object['barcode']}}</td>
                    </tr>
                    <tr>
                        <th>Originals Received Date</th>
                        <td>{{object['originals_rec_date']}}</td>
                    </tr>
                    <tr>
                        <th>Originals Returned Date</th>
                        <td>{{object['originals_return_date']}}</td>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <td>{{object['contact']}}</td>
                    </tr>
                    <tr>
                        <th rowspan="{{object['items']|length + 1}}">Items</th>
                         {% for item in object['items'] %}
                             <tr><td><a href="{{ url_for('.page_index')}}item/{{ item['item_id'] }}">{{ item['name'] }}</a></td></tr>
                        {% endfor %}
                    </tr>

                </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}