{% extends "dynamiclist.html" %}
{% block entityTitle %}
    Objects
{% endblock %}
{% block tableDetails %}
    <thead class="thead-light">
        <tr>
            <th scope="col"
                data-field="name"
                data-formatter="objectFormatter"
                data-sortable="true">Name</th>
        </tr>
    </thead>
    <script>
        function objectFormatter(value, row) {
            return '<a href="{{ url_for("page_object") }}/'+row.object_id +'">' + value + "</a>";
        }
    </script>
{% endblock %}
{% block dataParsing %}
    var data = JSON.parse(this.responseText)[0].objects;
{% endblock %}

{% block formatters %}

{% endblock %}
