{% from "_macros.html" import notes_table_head, notes_table_row, notes_new_button_row, note_editor_events %}
{% extends "details_table.html" %}
{%- block entity_navbar -%}
{%- endblock -%}
{%- block detail_table %}
<div class="card my-1">
    <div class="card-body">
        <table class="table">
            <tbody>
                {%- for field in fields -%}
                    <tr>
                        <td style="width: 16.66%" class="font-weight-bold">{{field.name}}</td>
                        <td>
                            <div id="{{field.name}}Label">
                                {{-object.get(field.key) or ""-}}
                            </div>
                            <div id="{{field.key}}InputGroup" class="input-group" hidden>
                                {% if field.editable %}
                                    <input id="{{field.key}}Input" type="text" class="form-control" value="{{-object.get(field.key) or ""-}}">
                                    <div class="input-group-append">
                                        <button id="{{field.key}}Confirm"
                                                onclick="confirmUpdate('{{ api_path }}', '{{field.key}}')"
                                                class="btn btn-outline-secondary">Confirm</button>
                                    </div>
                                {% endif %}
                            </div>
                        </td>
                        <td style="width: 5%">
                            {% if field.editable %}
                            <button id="editButton{{loop.index}}"
                                    onclick="flipMode('{{field.name}}Label', '{{field.key}}InputGroup', '{{field.key}}Input', '{{-object.get(field.key) or ''-}}', 'editButton{{loop.index}}' )"
                                    class="btn btn-secondary float-right btn-sm">Edit</button>
                            <script>
                                document.getElementById("{{field.key}}Input").addEventListener('keypress', (e) => {
                                    if (e.key === "Enter") {
                                        document.getElementById("{{field.key}}Confirm").click();
                                    }
                                });
                            </script>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
<div class="card my-1">
    <div class="card-header">
        <h5 class="card-title">Items</h5>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                {% for item in object['items'] %}
                    <tr>
                        <td><a href="{{ url_for('page_projects')}}/{{ object['project_id'] }}/object/{{ object['object_id'] }}/item/{{ item['item_id'] }}">{{ item['name'] }}</a></td>
                    <td></td>
                    </tr>
                {%- endfor -%}
                    <tr>
                        <td></td>
                        <td>
                            <div class="btn-group float-right" role="group">
                                <button class="btn btn-primary" disabled>Add</button>
                            </div>
                        </td>
                    </tr>
            </tbody>
        </table>

    </div>
</div>
<div class="card">
    <h5 class="card-header">Notes</h5>
    <div class="card-body">
        <table class="table">
        {{ notes_table_head(object['notes']) }}
        <tbody>
            {%- for note in object['notes'] -%}
                {{ notes_table_row(note, "/api/project/" ~ object['project_id'] ~ "/object/" ~ object['object_id'] ~ "/notes/" ~ note['note_id'] ) }}
            {%- endfor -%}
            {{ notes_new_button_row(api_path) }}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ note_editor_events("/api/project/" ~ object['project_id']~ "/object/" ~ object['object_id'], valid_note_types) }}
{% endblock %}