{% extends "layout.html" %}
{% import  "_details_macros.html" as widgets%}
{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap pt-1 align-items-center">
        {% if show_bread_crumb %}
            {{widgets.breadcrumbs_widget(breadcrumbs)}}
        {% endif %}

        {% block sidebar %}
        {% endblock %}
    </div>
    <div class="row mb-3">
        <div class="col-6">
            {% block main_details %}
            {% endblock %}
        </div>
        <div class="col-6">
            {% block secondary_details %}
            {% endblock %}
        </div>
    </div>
{% endblock %}