{% extends "layout.html" %}

{% block content %}
<h3>Projects</h3>
<div class="row onePadding">
    <div class="col-md-12 col-sm-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                </tr>
                {% for project in projects %}
                    <tr>
                        <td><a href="{{ url_for('.page_index')}}project/{{project['project_id'] }}">{{project['title']}}</a></td>
                        <td>{{project['status']}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}