{% extends "dynamiclist.html" %}
{% block entityTitle %}
    Projects
{% endblock %}

{% block table_toolbar %}
    <button id="add"
            type="button"
            onclick="window.location.href='{{url_for("page_project_new")}}'"
            class="btn btn-primary">Create</button>
{% endblock %}

{% block tableDetails %}
    <thead class="thead-light">
        <tr>
            <th data-field="title"
                data-formatter="projectFormatter"
                data-sortable="true">Title</th>
            <th data-field="status"
                data-sortable="true">Status</th>
        </tr>
    </thead>
{% endblock %}

{% block formatters %}
    <script>
        function projectFormatter(value, row) {
            return '<a href="{{ url_for("page_projects") }}/'+row.project_id +'">' + value + "</a>";
        }
    </script>
{% endblock %}
