{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
    <h3>Project Details</h3>
    <div class="row onePadding">
    <div class="col-md-12 col-sm-12">
        <div class="table-responsive">
            <table class="table table-striped table">
             <thead class="thead-light"/>
                <tr>
                    <th style="width: 16.66%">Title </th>
                    <td>{{project['title']}}</td>
                </tr>
                <tr>
                    <th>Project Code</th>
                    <td>{{project['project_code']}}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{project['status']}}</td>
                </tr>
                <tr>
                    <th>Current Location</th>
                    <td>{{project['current_location']}}</td>
                </tr>
                <tr>
                    <th rowspan="{{project['notes']|length + 1}}">Notes</th>

                    {% for note in project['notes'] %}
                        <tr>
                    <td>{{ note['text'] }}</td>
                        </tr>
                    {% endfor %}
                </tr>
                <tr>
                    <th rowspan="{{ project['objects']|length + 1 }}">Objects</th>
                    {% for child_object in project['objects'] %}
                    <tr><td><a href="{{ url_for('page_object')}}/{{child_object[0]}}"> {{child_object[1]}}</a></td></tr>
                    {% endfor %}
                </tr>

            </table>

        </div>
    </div>
</div>
</div>
{% endblock %}