{% extends "details_table.html" %}
{% block detail_table -%}
<div class="card my-1">
    <div class="card-body">
        <table class="table">
            <tbody>
                {%- for field in fields %}
                <tr>
                    <td style="width: 16.66%" class="font-weight-bold">{{field.name}}</td>
                    <td>
                        <div id="{{field.name}}Label">
                            {{-project.get(field.key) or ""-}}
                        </div>
                        <div id="{{field.key}}InputGroup" class="input-group" hidden>
                        {% if field.editable -%}
                        <label for="{{field.key}}Input"></label>
                        <input id="{{field.key}}Input" type="text" class="form-control" value="{{-project.get(field.key) or ""-}}"/>
                        <div class="input-group-append">
                            <button id="{{field.key}}Confirm"
                                    onclick="confirmUpdate('{{ api_path }}', '{{field.key}}')"
                                    class="btn btn-outline-secondary">Confirm</button>
                            {%- endif %}
                            </div>
                        </div>
                    </td>
                    <td style="width: 5%">
                        {%- if field.editable -%}
                        <button id="editButton{{loop.index}}" class="btn btn-secondary float-right btn-sm">Edit</button>
                        <script>
                            document.getElementById("editButton{{loop.index}}").onclick = function (){
                                flipMode(
                                    "{{field.name}}Label",
                                    "{{field.key}}InputGroup",
                                    "{{field.key}}Input",
                                    "{{-project.get(field.key) or ""-}}",
                                    "editButton{{loop.index}}"
                                )
                            };
                            document.getElementById("{{field.key}}Input").addEventListener('keypress', (e) => {
                                if (e.key === "Enter") {
                                    document.getElementById("{{field.key}}Confirm").click();
                                }
                            });
                        </script>
                    </td>
                {% endif -%}
                </tr>
                {%- endfor %}
            </tbody>
        </table>
    </div>
    <div class="card my-1">
        <div class="card-header">
            <h5 class="card-title">Objects</h5>
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    {%- for child_object in project['objects'] %}
                    <tr>
                        <td><a href="{{ url_for('page_projects')}}/{{ project_id }}/object/{{ child_object['object_id'] }}"> {{ child_object['name'] }}</a></td>
                        <td><button class="float-right btn btn-danger btn-sm" disabled>Remove</button></td>
                    </tr>
                    {%- endfor %}
                    <tr>
                        <td></td>
                        <td>
                            <div class="btn-group float-right" role="group">
                                <button class="btn btn-primary btn-sm" disabled>Add</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">Notes</h5>
        <div class="card-body">
            <table class="table">
                {% if project['notes']|length > 0 %}
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th class="col-sm-3">Message</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
            {% endif %}
                <tbody>
                    {%- for note in project['notes'] %}
                    <tr>
                        <td >{{ note['note_type'] }}</td>
                        <td>{{ note['text'] }}</td>
                        <td>
                            <button class="btn btn-secondary btn-sm"
                                    data-toggle="modal"
                                    data-target="#noteEditor"
                                    data-title="Edit Note"
                                    data-dialogtype="edit"
                                    data-text="{{ note['text'] }}"
                                    data-notetype="{{ note['note_type_id'] }}"
                                    data-apiroute="{{ api_path }}/notes/{{ note['note_id'] }}">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-danger btn-sm"
                                    data-toggle="modal"
                                    data-target="#noteRemoveConfirm"
                                    data-title="Remove Note"
                                    data-text="{{ note['text'] }}"
                                    data-apiroute="{{ api_path }}/notes/{{ note['note_id'] }}">Remove</button>
                        </td>
                    </tr>
                    {% endfor -%}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="btn-group float-right" role="group">
                                <button class="btn btn-primary btn-sm"
                                        data-toggle="modal"
                                        data-target="#noteEditor"
                                        data-title="Create New Note"
                                        data-dialogtype="new"
                                        data-source="{{ api_path }}"
                                        data-notetype="{{ note_type_id }}">Add</button>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{%- endblock -%}
{% block scripts %}
    {{ super() }}
    <script type="module">
        import {notes} from "{{url_for('static', filename="js/api.js")}}"
        const apiPath = "{{ api_path }}";
        function editNote(apiPath, noteTypeId, noteText){
            console.log(`Editing note at ${apiPath}, it's now a ${noteTypeId} with text ${noteText}`);
        }

        $(document).ready(function () {
            {%- for note_name, note_id in valid_note_types %}
            $("#noteTypeSelect").append(new Option("{{ note_name }}", "{{note_id}}"));
            {%- endfor %}

            $('#noteRemoveConfirm').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget);
                setup_confirm_note_removal_modal(button, $(this), button.data("apiroute"), notes.removeNote);
            });

            $('#noteEditor').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget);
                const modal = $(this);
                setup_modal_window(modal, button);
                switch (button.data('dialogtype')) {
                    case "edit":
                        setup_edit(button, modal, notes.editNote);
                        break;
                    case "new":
                        setup_new_note(button, modal, apiPath, notes.addNote);
                        break;
                }
            });
        })

    </script>
{%- endblock -%}

